@model Interesse
@{
  ViewData["title"] = "HostSite";
  Layout = "_Layout";
}
<link rel="stylesheet" type="text/css" href="~/css/site2.css" />

<div class="row text-center">
  <div class="col-md-4 txttop">
    <h1>Iniciativa Saúde da Cidade</h1>
    <p>
            Saúde é um conceito complexo e muitas vezes um estado difícil de se conseguir. Estar saudável vai além de não ter doenças, envolvendo também aspectos sociais e psicológicos. Vamos abordar a seguir algumas questões importantes sobre saúde e dar dicas para uma vida mais saudável nos mais diferentes aspectos.
        </p>
        <p>
            O que é saúde segundo a OMS?
Um conceito bastante conhecido de saúde é aquele que diz que “saúde é a ausência de doenças”. Para muitos autores, no entanto, saúde vai muito além desse simples entendimento. A Organização Mundial de Saúde (OMS), por exemplo, dá uma definição muito mais ampla.
        </p>
</div><!--Texto 1-->

<div class="col-md-8 txttop" >

  <div id="carouselExampleIndicators" class="carousel slide borda" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol><!-- Ol-->

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="~/img/imagem1.png" alt="Primeiro Slide" width="820px" height="450px">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="~/img/imagem2.png" alt="Segundo Slide" width="820px" height="450px">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="~/img/imagem3.png" alt="Terceiro Slide" width="820px" height="450px">
      </div>
    </div><!-- imagens carousel-->

    <div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
           <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
           <span class="carousel-control-next-icon" aria-hidden="true"></span>
           <span class="sr-only">Próximo</span>
        </a>
    </div><!--Setas-->

  </div><!--carousel slide-->

</div><!--Carousel-->
</div><!--FIM DO ROW 1--> 


<div class="row text-center txttop2"><!--formulario-->
  <div class="col-md-4 borda">
    <h2>Entre em contato!</h2>
    <p>Nos envie uma mensagem para que fique dentro de nossos eventos</p>
    <p class="text-danger">@ViewData["mensagem"]</p>
    <form asp-action="Cadastrar" method="POST">

            <div class="form-group row">
                <label asp-for="Nome" class="col-3 txtform">Nome:</label>
                <input asp-for="Nome" type="text" class="col-8 txtbox" required/>
            </div>
            <div class="form-group row">
                <label asp-for="Email" class="col-3 txtform">Email:</label>
                <input asp-for="Email" type="email" class=" col-8 txtbox" required/>
            </div>
            <div class="form-group row">
                <label asp-for="Mensagem" class="col-3 txtform">Mensagem (opcional):</label>
                <textarea asp-for="Mensagem" class="col-8 txtbox" rows="5"></textarea>
            </div>
            <div class="form-group row">
                <div class="col-8"> @ViewBag.msg</div>
                <input type="submit" value="Enviar" class="txbutton" />
                <div class="col-1"></div>

            </div>

        </form><!--FORMULARIO-->

  </div><!--col-->
<div class="col-md-3"><!--MODAL 1-->
      <img src="~/img/calendario.png" width="100px" height="100px">
      <br>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ExemploModalCentralizado">
        Agenda de eventos
      </button>

      <!-- Modal -->
        <div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="TituloModalCentralizado">Agenda</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <div>
        <h4>10/07/22</h4>
        <h5>Corrida saudável</h5>
        <p>15 Horas</p>
        <a href="#">Saiba mais</a>
        </div>
        <br>
        <div>
        <h4>13/08/22</h4>
        <h5>Yoga ao ar livre</h5>
        <p>14 Horas</p>
        <a href="#">Saiba mais</a>
        </div>
        <br>
        <div>
        <h4>8/09/22</h4>
        <h5>Gastronomia</h5>
        <p>11 Horas</p>
        <a href="#">Saiba mais</a>
        </div>
        <br>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        
      </div>
    </div>
        </div>
      </div>
    </div><!-- MODAL 1 -->

<div class="col-md-3"><!--MODAL 2-->
      <img src="~/img/check.png" width="100px" height="100px">
      <br>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ExemploModalCentralizado2">
        Dicas de vida saudável
       </button>

       <!-- Modal -->
      <div class="modal fade" id="ExemploModalCentralizado2" tabindex="-1" role="dialog" aria-labelledby="TituloModalLongoExemplo" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="TituloModalLongoExemplo">Dicas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <h3>Dicas de vida saudável</h3>
        <p>Durma de 6 a 8 horas por dia. Dormir de 6 a 8 horas por dia é muito importante para que o corpo descanse e reponha as energias necessárias</p>
        <br>
        <p>Alimente-se bem</p>
        <br>
        <p>Pratique atividades físicas</p>
        <br>
        <a href="#">Saiba mais</a>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        
        </div>
        </div>
        </div>
        </div>
  </div><!--MODAL 2-->
<div class="col-md-2"><!--MODEL 3 -->
      <img src="~/img/apoio.png" width="100px" height="100px">
      <br>
   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ExemploModalCentralizado3">
        Apoiadores
      </button>
      <!-- Modal -->
    <div class="modal fade" id="ExemploModalCentralizado3" tabindex="-1" role="dialog" aria-labelledby="TituloModalLongoExemplo" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalLongoExemplo">Apoiadores</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <a href="">
            <img src="~/img/fecomercio.png" width="100px" height="100px">
          </a>
          <h5>Fecomércio-RS</h5>
        </div>
        <br>
        <div>
          <a href="">
            <img src="~/img/sirena_logo.png" width="100px" height="100px">
          </a>
          <h5>Sirnea Cosméticos</h5>
        </div>
        <br>
        <div>
          <a href="">
            <img src="~/img/senac.png" width="100px" height="100px">
          </a>
          <h5>Senac-RS</h5>
        </div>
        <br>
        <div>
          <a href="">
            <img src="~/img/pixabay.png" width="100px" height="100px">
          </a>
          <h5>Pixabay</h5>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
       
       </div>
       </div>
       </div>
       </div>
 </div><!--MODEL 3-->
      
  

       
</div><!--col-->
    
</div><!--FIM ROW 2-->