.borda
{
    border: solid 1px black;
}
.txttop
{
    position: relative;
    top: 20px;
}
.txttop2
{
    position: relative;
    top: 30px;
}
.txtbotao
{
    border-radius: 3px;
    background-color: blue;
    color: white;
}